@*
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Logout</title>
    </head>
    <body>
        <div>
            <h1>Logout Successful !!!</h1>
        </div>
    </body>
    </html>
*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div>
        <h1>Logout Successful !!!</h1>
    </div>
</body>
</html>
